<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie gry</title>
</head>
<body>
    <h2>Dodawanie gry</h2>
    <script src="/scripts/gameValidate.js"></script>
    <form method="POST" id="gameForm">
        <%- include("gameForm.ejs", {
            game: {
                title: "",
                price: "",
                description: ""
            },
        }) %>
    </form>
</body>
</html>