<div style="border: 1px solid black;">
    <h3><%= game.title %></h3>
    Dodano: <%= game.createdAt %><br>
    <a href="/edit?id=<%= game.id %>">Edytuj</a> 
    <a href="/delete?id=<%= game.id %>">Usuń</a>
</div>