<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Historia zamówień</title>
</head>
<body>
    <form method="GET" action="/orderHistory">
        Szukaj użytkownika: 
        <input type="text" name="name" maxlength="30" value="<%= query %>">
        <button type="submit">Szukaj</button>
    </form>
    <% for(order of orders) { %>
        <%- include("orderHistoryView.ejs", { order: order }) %>
    <% } %>
</body>
</html>