<div style="border: 1px solid black;">
    <h3><%= user.username %></h3>
    Zarejestrowany: <%= user.createdAt.toLocaleString("pl-PL") %><br>
    <a href="/userOrderHistory?id=<%= user.id %>">Historia zamówień</a>
</di>