<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Koszyk</title>
</head>
<body>
    <% for (item of items) { %>
        <h5><%=  item /* include('basket/itemBasket.ejs', item); */ %></h5> 
    <% } %>
</body>
</html>