<ul class="list-group">
    <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
        <h3 class="mr-auto p-2 align-self-center">Suma:</h3>
        <% if(!locals.price) locals.price = 0 %>
        <span class="badge badge-primary p-2"><%= Math.abs(locals.price).toFixed(2) %> PLN</span>
        <span class="p-1"> </span>
        <button type="button" class="btn p-2" onclick="basket_remove_all()" <% if(!locals.price || Math.abs(locals.price) < 0.01 ){ %> disabled <% } %>>
            <svg-icon class="basket-icon"><src href="svg/si-glyph-basket-error.svg" /></svg-icon>
        </button>
        <span class="p-1"> </span>
        <button type="button" class="btn btn-success p-2" 
            data-toggle="collapse" data-target="#orderToggle"
            aria-expanded="false" aria-controls="orderToggle"
            <% if(!locals.price || Math.abs(locals.price) < 0.01 ){ %> disabled <% } %> >Zamawiam</button>
    </li>
    <% if (locals.items) {
        for (item of items) { %>
            <%- include('itemBasket.ejs', item); %>
    <% } } %>
</ul>

<div class="collapse" id="orderToggle">
    <%- include("orderBasket.ejs") %>
</div>