<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Użytkownik niezalogowany</title>
</head>
<body>
    By przeglądać koszyk, musisz być <a href="login">zalogowany</a>.
</body>
</html>