<form method="POST" action="/sendOrder">
  <h1>Miejsce na płatności</h1>
  <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
  <button type="submit" class="btn btn-primary">Płacę</button>
</form>