<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Koszyk</title>
</head>
<body>
    <% for (item of items) { %>
        <%- include('basket/itemBasket.ejs', item); %>
    <% } %>
</body>
</html>