<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edycja gry</title>
</head>
<body>
    <h2>Edycja gry</h2>
    <%- include("gameForm.ejs") %>
    <h4>Dotychczasowe dane</h4>
    Tytuł: <%= title %><br>
    Cena: <%= price %> zł<br>
    Opis: <%= description %>
</body>
</html>