<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Użytkownik niezalogowany</title>
</head>
<body>
    Musisz być <a href="login">zalogowany</a>, aby wyświetlić tę stronę.
</body>
</html>