<form class="form-inline my-2 my-lg-0">
<% if (locals.basket) { %>
    <label style="margin-right: 5px">
        <span class="badge badge-info"><%= Math.abs(locals.basket.price).toFixed(2);%> PLN</span>
    </label>
    <a href="basket">
        <button type="button" class="btn btn-light">
            <svg-icon class="navbar-icon"><src href="sprite/sprite.svg#si-glyph-basket" /></svg-icon>
        </button>
    </a>
<% } %>
<% if (locals.return) { %>
    <a href="/">
        <button type="button" class="btn btn-light">
            <svg-icon class="navbar-icon"><src href="sprite/sprite.svg#si-glyph-arrow-thick-left" /></svg-icon>
        </button>
    </a>
<% } %>
<% if (locals.user) { %>
    <a href="logout">
        <button type="button" class="btn btn-light">
            <svg-icon class="navbar-icon"><src href="sprite/sprite.svg#si-glyph-sign-out" /></svg-icon>
        </button>
    </a>
<% } else { %>
    <a href="login">
        <button type="button" class="btn btn-light">
            <svg-icon class="navbar-icon"><src href="sprite/sprite.svg#si-glyph-sign-in" /></svg-icon>
        </button>
    </a>
<% } %>
</form>
<script src="scripts/navbar.js"></script>