<form onsubmit="f_search_submit(); return false;">
    <div class="form-row">
        <div class="form-group col-10">
            <input type="text" class="form-control" id="t_search" placeholder="Wyszukiwanie..." autofocus>
        </div>
        <div class="form-group col-1">
            <button type="submit" class="btn btn-primary btn-light" id="b_search">
                <svg-icon class="search-icon"><src href="svg/si-glyph-magnifier.svg" /></svg-icon>
            </button>
            <!--
            <button type="button" class="btn btn-primary btn-light" id="b_adv_search" onclick="b_adv_search_clicked()">
                <svg-icon class="search-icon"><src href="svg/si-glyph-circle-triangle-down.svg" /></svg-icon>
            </button>
            -->
        </div>
    </div>
</form>