<form>
    <div class="form-row">
        <div class="form-group col-8">
            <input type="text" class="form-control" id="phrase" placeholder="Wyszukiwanie...">
        </div>
        <div class="form-group col-2">
            <button type="button" class="btn btn-primary btn-light" onclick=""><svg-icon><src href="sprite/sprite.svg#si-glyph-magnifier" /></svg-icon></button>
        </div>
        <div class="form-group col-2">
            <button type="button" class="btn btn-primary btn-light"><svg-icon><src href="sprite/sprite.svg#si-glyph-circle-triangle-down" /></svg-icon></button>
        </div>
    </div>
</form>

<!--
<svg-icon><src href="sprite.svg#si-glyph-button-triangle-up" /></svg-icon>
<svg-icon><src href="sprite.svg#si-glyph-circle-triangle-down" /></svg-icon>
-->