<div class="row">

    <!-- Game list -->
    <nav class="col-2 sidebar">
        <!-- Search -->
        <%- include("findList.ejs") %>
    
        <!-- Games -->
        <div id="column_list"></div>
    </nav>

    <!-- Game description -->
    <main class="col-10 offset-2">
        <p>test</p>
    </main>
</div>

<script src="scripts/list.js"></script>