<div class="row">

    <!-- Game list -->
    <nav class="col-3 sidebar">
        <!-- Search -->
        <%- include("findList.ejs") %>
    
        <!-- Games -->
        <div id="column_list"></div>
    </nav>

    <!-- Game description -->
    <main class="col-8 offset-3 pl-md-5 py-md-3" id="game_main">
        <!-- Perhaps we should have some kind of placeholder -->
    </main>
</div>

<script src="scripts/list.js"></script>